[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
requests = "*"
python-dotenv = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-compress = "*"
sqlalchemy-utils = "*"
passlib = "*"
flask-migrate = "*"
flask-session = "*"
itsdangerous = "*"
sendgrid = "*"
flask-htmx = "*"
jinja-partials = "*"
injector = "*"
flask-injector = "*"
celery = {extras = ["redis"], version = "*"}
flower = "*"

[dev-packages]
nox = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
