[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
requests = "*"
python-dotenv = "*"
django = "*"
django-extensions = "*"
django-compressor = "*"
turbo-django = "*"

[dev-packages]

[requires]
python_version = "3.8"
