<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MissABrick</title>

    <!-- JS -->
    <script src="{{ url_for('static', filename='dist/js/index.js') }}"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/index.css') }}">
</head>

<body>
    <div class="container mx-auto h-screen grid place-content-center">
        <h1 class="font-bold text-8xl text-orange-700 mb-8">MISS A BRICK</h1>
        <div class="flex flex-column justify-evenly gap-7">
            <x-download-set-button class="flex-1" placeholder="Enter set number"></x-download-set-button>
            <span class="w-0.5 h-full bg-gray-300/30 rounded-full"></span>
            <x-upload-set-button></x-upload-set-button>
        </div>
    </div>
</body>

</html>