{% extends 'layout/base.html' %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="mb-3">
            <form action="/report" method="post" data-turbo-frame="upload-result" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{ form.file(class="form-control", onchange="this.form.requestSubmit()") }}
            </form>
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
                    <li class="nav-item">
                        <a href="#tabs-parts" class="nav-link active" data-bs-toggle="tab">Parts</a>
                    </li>
                    <li class="nav-item">
                        <a href="#tabs-minifigs-parts" class="nav-link" data-bs-toggle="tab">Minifigs</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="card-body">
            <turbo-frame id="upload-result">
                <div class="tab-content">
                    {% if parts|length != 0 or fig_parts|length != 0 %}
                    <div class="tab-pane active show" id="tabs-parts">
                        <h2 class="mb-3">Parts:</h2>
                        <div class="table-responsive">
                            <table class="table table-nowrap">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Part Number</th>
                                        <th>Part Name</th>
                                        <th>Color</th>
                                        <th>Is Spare</th>
                                        <th>Quantity</th>
                                        <th>Missing</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for part in parts %}
                                    <tr>
                                        <th class="text-center">{{ loop.index }}</th>
                                        <td class="text-center">{{ part.part_num }}</td>
                                        <td>{{ part.part_name }}</td>
                                        <td class="d-flex justify-content-center gap-3 align-items-center">
                                            <span class="rounded-circle"
                                                style="width: 1rem; height: 1rem; display: inline; background-color: #{{ part.color_rgb  }};"></span>
                                            <span>{{ part.color_name }}</span>
                                        </td>
                                        <td class="text-center">{% if part.is_spare %}YES{% else %}NO{% endif %}</td>
                                        <td class="text-center">{{ part.quantity }}</td>
                                        <td class="text-center">{{ part.missing }}</td>
                                    </tr>
                                    {% endfor %}

                                    {% if parts|length == 0 %}
                                    <tr>
                                        <td colspan="8" valign="top" class="text-center py-2">No data available</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tabs-minifigs-parts">
                        <h2 class="mb-3">Minifig Parts:</h2>
                        <div class="table-responsive">
                            <table class="table table-nowrap">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Part Number</th>
                                        <th>Fig Number</th>
                                        <th>Part Name</th>
                                        <th>Color</th>
                                        <th>Is Spare</th>
                                        <th>Quantity</th>
                                        <th>Missing</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for part in fig_parts %}
                                    <tr>
                                        <th class="text-center">{{ loop.index }}</th>
                                        <td class="text-center">{{ part.part_num }}</td>
                                        <td class="text-center">{{ part.fig_num }}</td>
                                        <td>{{ part.part_name }}</td>
                                        <td class="d-flex justify-content-center gap-3 align-items-center">
                                            <span class="rounded-circle"
                                                style="width: 1rem; height: 1rem; display: inline; background-color: #{{ part.color_rgb  }};"></span>
                                            <span>{{ part.color_name }}</span>
                                        </td>
                                        <td class="text-center">{% if part.is_spare %}YES{% else %}NO{% endif %}</td>
                                        <td class="text-center">{{ part.quantity }}</td>
                                        <td class="text-center">{{ part.missing }}</td>
                                    </tr>
                                    {% endfor %}

                                    {% if fig_parts|length == 0 %}
                                    <tr>
                                        <td colspan="8" valign="top" class="text-center py-2">No data available</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </turbo-frame>
        </div>
    </div>
</div>
{% endblock %}