{% extends 'layout/login.html' %}

{% block title %}Sign In{% endblock %}

{% block form %}

{% if error %}
<div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}

<form class="{% if form.is_submitted() %}was-validated{% endif %}" method="post" action="">
    {{ form.hidden_tag() }}
    <div class="input-icon mb-3">
        <span class="input-icon-addon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z">
                </path>
                <path d="M3 7l9 6l9 -6"></path>
            </svg>
        </span>
        {{ form.email(class="form-control", placeholder="Email") }}
        {% if form.email.errors %}
        <div class="invalid-feedback">
            {{ form.email.errors }}
        </div>
        {% endif %}
    </div>
    <div class="input-icon mb-3">
        <span class="input-icon-addon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-password" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 10v4"></path>
                <path d="M10 13l4 -2"></path>
                <path d="M10 11l4 2"></path>
                <path d="M5 10v4"></path>
                <path d="M3 13l4 -2"></path>
                <path d="M3 11l4 2"></path>
                <path d="M19 10v4"></path>
                <path d="M17 13l4 -2"></path>
                <path d="M17 11l4 2"></path>
            </svg>
        </span>
        {{ form.password(class="form-control", placeholder="Password") }}
        {% if form.password.errors %}
        <div class="invalid-feedback">
            {{ form.password.errors }}
        </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <span>Don't have an account ? <a href="{{ url_for('login.signup') }}">Create one</a></span>
    </div>
    <button type="submit" class="w-100 btn btn-primary">Submit</button>
</form>
{% endblock %}
